<div class="content-wrapper">
  <h1>Interessen & Kenntnisse</h1>
  <span class="divider"></span>
  <h2>Sprachen</h2>
  <table>
    <tr>
      <th>Englisch</th>
      <th class="indicator">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </th>
    </tr>
    <tr>
      <th>Spanisch</th>
      <th class="indicator">
        <span></span>
        <span></span>
      </th>
    </tr>
  </table>
  <h2>Kenntnisse</h2>
  <table>
    <tr>
      <th>HTML</th>
      <th class="indicator">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </th>
    </tr>
    <tr>
      <th>Javascript</th>
      <th class="indicator">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </th>
    </tr>
    <tr>
      <th>Angular</th>
      <th class="indicator">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </th>
    </tr>
    <tr>
      <th>Java</th>
      <th class="indicator">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </th>
    </tr>
    <tr>
      <th>SQL</th>
      <th class="indicator">
        <span></span>
        <span></span>
      </th>
    </tr>
    <tr>
      <th>PHP / Wordpress</th>
      <th class="indicator">
        <span></span>
        <span></span>
      </th>
    </tr>
  </table>
</div>