<div class="content-wrapper">
  <h1>Schulbildung</h1>
  <span class="divider"></span>
  <table>
    <tr>
      <th>09 / 2007 – 07 / 2011</th>
      <th>Albert-Schweitzer Grundschule in Muggensturm</th>
    </tr>
    <tr>
      <th>09 / 2011 – 07 / 2017</th>
      <th>
        <span>Werner-von-Siemens Realschule in Kuppenheim</span>
        <span>Mittlere Reife, Abschlussnote 2,4</span>
      </th>
    </tr>
    <tr>
      <th>Seit 09 / 2017</th>
      <th>
        <span>Josef-Durler-Schule in Rastatt</span>
        <span>Voraussichtlicher Abschluss: Abitur im Juni 2020</span>
      </th>
    </tr>
  </table>
</div>