<div class="content-wrapper">
  <h1>Persönliche Details</h1>
  <span class="divider"></span>
  <table>
    <tr>
      <th>Name</th>
      <th>Marius Kurt Friess</th>
    </tr>
    <tr>
      <th>Geburtsdatum</th>
      <th>14. November 2001</th>
    </tr>
    <tr>
      <th>Geburtsort</th>
      <th>Rastatt</th>
    </tr>
    <tr>
      <th>Anschrift</th>
      <th>
        <span><a href="https://www.google.com/maps/place/Schafhof+36,+76461+Muggensturm/@48.8685243,8.2719583,17z/data=!3m1!4b1!4m5!3m4!1s0x47971c8977972475:0x42d8a76ef5827595!8m2!3d48.8685243!4d8.274147" target="_blank">Schafhofstraße 36</a></span>
        <span>76461 Muggensturm</span>
      </th>
    </tr>
    <tr>
      <th>Telefon</th>
      <th><a href="tel:+4917642605686" target="_blank">0176 42605686</a></th>
    </tr>
    <tr>
      <th>Email</th>
      <th><a href="mailto:friess.marius@gmail.com" target="_blank">friess.marius@gmail.com</a></th>
    </tr>
  </table>
</div>